.movie-detail-content{
    width:75%;
    
}


.movie-poster-img{
    max-width:480px;
    height: 720px;
    
}

.arrow-left
{   position: absolute;
    right:10px;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
    color:white;
    opacity: 0.5;
    
}

.arrow-right
{   position: absolute;
    left:10px;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
    color:white;
    opacity: 0.5;
    
   
}


/* .detail-partA-time-wrap{
    width:600px;
} */
.partA-time{
    width: 25%;
}

#movie-detail{
    background-image: url('../img/04-bg/background-img-03.jpg');
    background-size: cover;
    background-position: center;  
}



@media only screen and (max-width: 990px)
{
    .movie-detail-content{
        width:100%;
    }
   
    .movie-detail-partB{
        padding-left:15px;
        padding-right:15px;
    }
}


@media only screen and (max-width: 658px)
{
    .movie-poster-img{
        max-width: width 300px;;
        height:450px;
    }
}




.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
